* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.custom_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.custom_class{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: row;    
    flex-wrap: wrap;
}
.card {
    overflow: hidden;
    width: 800px;
}